@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Get Started */
.get-started-item {
  @apply 
    before:absolute before:-top-[15px] before:w-[2px] before:h-[15px]
    after:absolute after:-bottom-[15px] after:w-[2px] after:h-[15px];
}

.get-started-item.status-done {
  @apply border-white
    before:bg-vermilion
    after:bg-vermilion;
}
.get-started-item.status-ongoing {
  @apply border-vermilion
    before:bg-vermilion before:h-[13px]
    after:bg-slate-300 after:h-[13px];
}
.get-started-item.status-todo {
  @apply border-white
    before:bg-slate-300
    after:bg-slate-300;
}
.get-started-items div:first-of-type .get-started-item {
  @apply before:h-0;
}
.get-started-items div:last-of-type .get-started-item {
  @apply after:h-0;
}

.get-started-item .get-started-item-icon svg {
  @apply w-3 h-3;
}
.get-started-item.status-done .get-started-item-icon {
  @apply bg-vermilion border-vermilion;
}
.get-started-item.status-done .get-started-item-icon svg {
  @apply text-white;
}
.get-started-item.status-ongoing .get-started-item-icon {
  @apply bg-vermilion/10 border-white;
}
.get-started-item.status-ongoing .get-started-item-icon svg {
  @apply text-vermilion;
}
.get-started-item.status-todo .get-started-item-icon {
  @apply bg-white border-slate-300;
}
.get-started-item.status-todo .get-started-item-icon svg {
  @apply text-slate-500;
}